* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Pacifico', cursive;
    font-weight: 800;
    scroll-behavior: smooth;
}

.bkgr {
    position: relative;
    height: 100vh;
    width: 100%;
}

.purple {
    background: #520cf5;
}

.green {
    background: #059905;
}

.yellow {
    background: #d8d800;
}

.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    text-align: center;
}

.cont img {
    width: 100%;
}

.green-text,
.white-text,
.red-text {
    font-size: 50px; 
}

.green-text {
    color: #009344;
}

.white-text {
    color: lightgrey;
}

.red-text {
    color: #C82A35;
}

.buttons {
    position: fixed;
    top: 40px;
    right: 20px;
}

.buttons a {
    border-radius: 100%;
    padding: .5rem 1.5rem;
    border: solid 1px white;
    background: white;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.57);
}

.buttons a:first-child:hover {
    background: #009344;
    box-shadow: -5px 5px 20px #009344;
}

.buttons a:nth-child(2):hover {
    background: lightgrey;
    box-shadow: -5px 5px 20px lightgrey;
}

.buttons a:last-child:hover {
    background: #C82A35;
    box-shadow: -5px 5px 20px #C82A35;
}

.buttons a:first-child:active {
    background: #520cf5;
    box-shadow: -5px 5px 20px #520cf5;
}

.buttons a:nth-child(2):active {
    background: #059905;
    box-shadow: -5px 5px 20px #059905;
}

.buttons a:last-child:active {
    background: #d8d800;
    box-shadow: -5px 5px 20px #d8d800;
}